<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<!-- UIkit CSS -->
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css"/>

		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<!-- UIkit JS -->
			<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>
		{% endblock %}

	</head>
	<nav class="uk-navbar-container uk-navbar-transparent">
		<div class="uk-container">
			<div uk-navbar>
				<div class="uk-navbar-left">
					<ul class="uk-navbar-nav">
						<li class="uk-active">
							<a href="{{ path('app_login')}}">Connexion</a>
						</li>
						<li class="uk-active ">
							<a href="{{ path('app_inscription')}}">Inscription</a>
						</li>
						<li class="item">
							<a href="#">Boutique</a>
						</li>
						<li class="item">
							<a href="#">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="video uk-cover-container" uk-height-viewport>
			<video autoplay muted loop>
				<source src="{{ asset('videos/video.mp4') }}" type="video/mp4">
			</video>
		</div>
	</nav>

	


</html>
